\/* Questions */
.questions{
  background-color:lightblue
}
/*hover button and image styling for all three pages*/
h1{
  text-align:center;
font-family:fantasy;
}

img {

display: block;
margin-left: auto;
margin-right: auto;
}
h3{
text-align: center;
padding: 10px;
border: 2px solid black;
background-color:rgba(68, 207, 68, 0.192);
font-family: fantasy;

}
/*words at the top*/
.information{
  text-align: center;
  font-size:x-large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*instructions*/
.instructions{
  font-size: large;
  font-family:'Times New Roman', Times, serif;
}
/* NAVBAR */
.topnav {
  background-color: rgba(81, 151, 96, 0.267);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #080808;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: fantasy;
  background-color: rgba(150, 218, 150, 0.116);
}

.topnav a:hover {
  background-color: rgba(162, 192, 159, 0);
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: #04AA6D;
  color: rgb(255, 255, 255);
}

/* PAGE1 BG */
body {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAM1BMVEW58bLO47LJ57PT4bLQ4rLD6rO68bK38bS68LO/7bPL5bLU4LLH6LPF6bPB67O777S387EipD3JAAAAsElEQVR4nO3VyQnDUAxAQe9r7Pz+q01K0MEgZGYqeAghdR0AAAAAAADAy6zbnp0Qs81HdkLM3J/ZCTHDOWYnxAxjn50QI/RpQp8m9GmfqUjoVWWi8zRlJ8TcU5EXuvdFJvo9ioSuVULbVWRH210jdGldjTu6dK1G6N+VHRB1ZwfEtG3LTohasgMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4IV+W6ABr2wIEpwAAAAASUVORK5CYII=");
      }

/* HOMEPAGE ACCORDION */
.accordion {
  background-color: rgba(238, 238, 238, 0.267);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border:beige;
  outline: none;
  transition: 0.4s;
  font-family: fantasy;
  font-size: medium;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  
  display: none;
  overflow: hidden;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(199, 25, 25)
}

.responsive {
  width: 100%;
  height: auto;
}

/* Container holding the image and the text */
.container {
  position: relative;
  width: 50%;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Mulitple choice questions formatting */
.MCQ {
  background-color:rgb(18, 157, 204);
  color:  black;
}

/*hover tabs*/
.tablinks {
  background-color: #06470931; /* Green */
  border:rgba(0, 0, 0, 0.589);
  color: rgb(24, 2, 2);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:monospace;
}


.button {
  background-color: #4CAF50;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
