/* Questions */
.questions{
  background-color:lightblue
}
/* Title */
.title{
  text-align:center;
  font-family:fantasy;
}


/* NAVBAR */
.topnav {
  background-color: rgba(158, 110, 110, 0.267);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #332020;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: fantasy;
}

.topnav a:hover {
  background-color: rgba(182, 110, 110, 0.329);
  color: rgb(71, 45, 45);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* PAGE1 BG */
body {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAM1BMVEW58bLO47LJ57PT4bLQ4rLD6rO68bK38bS68LO/7bPL5bLU4LLH6LPF6bPB67O777S387EipD3JAAAAsElEQVR4nO3VyQnDUAxAQe9r7Pz+q01K0MEgZGYqeAghdR0AAAAAAADAy6zbnp0Qs81HdkLM3J/ZCTHDOWYnxAxjn50QI/RpQp8m9GmfqUjoVWWi8zRlJ8TcU5EXuvdFJvo9ioSuVULbVWRH210jdGldjTu6dK1G6N+VHRB1ZwfEtG3LTohasgMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4IV+W6ABr2wIEpwAAAAASUVORK5CYII=");
      }

/* HOMEPAGE ACCORDION */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border:beige;
  outline: none;
  transition: 0.4s;
  font-family: fantasy;
  font-size: medium;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(199, 25, 25)
}

.responsive {
  width: 100%;
  height: auto;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Mulitple choice questions formatting */
.MCQ {
  background-color:rgb(18, 157, 204);
  color:  black;
}

